$background-light: #FFFFFF;
$button-gold: #998152;
$site-gold: #998152;
$dark-gold: #6E6043;
$placeholder-text: #BBBCB5;
$heading-dark: #2A312E;
$heading-light: #FBFBFB;
$button-dark: #2A312E;
$button-light:#F4F4F4;
$button-light-text: #2A312E;
$section-background-dark: #A2A39A;
$section-background-light: #EDEDED;
$footer-background-light: #2A312E;
$footer-background-dark: #2A312E;
$text-light: #2A312E;